.button {
    height: 40px;
    min-width: 90px;
    border-radius: 5px;
    border: 4px;
    color: #1f1f20;
    font-weight: 800;
    font-size: 16px;
    background-color: lightsalmon;
    font-family: "Georgia", sans-serif;
}

.button:hover {
    background-color: salmon;
}

.button:disabled {
    background-color: #ffb0b6;
    color: rgba(74,56,24,0.53);
}